page-home {
    #burger {
     font-family: optima;
     background-color: #DEF9F6;
}
    #pizza {
        font-family: tekton pro;
        background-color: #FBD6B1;
}
    h2{
        font-family: tekton pro;
    }
    ion-title{
        font-family: tekton pro;
        color: black;
    }
}
